:root {
    
}

.main {

    

}


  

.headerContainer {
 
  
  display: flex;
  height: 80px;
  flex-direction: row;
  
  
  
  }

.headerNav > a{
  
  scroll-behavior: smooth;
  
  }

.headerItem {
  
  
  
  }


.box3 {
 
  display: flex;
  position: sticky;
  
  
  
  
  }

.hero {
 
  background: lightgrey;
  height: 50vh;
  
}

.pricesSection {
  
  background: grey;
  height: 50vh;
  scroll-behavior: smooth;
  
  
}

.aboutSection {
  
  background: lightgrey;
  height: 100vh;
  }