.navBar {

 height: 80px;

}
.sectionContainer {

 scroll-behavior: smooth;
 margin-top: 10px;
margin-bottom: 10px;
  
 
 
  
}

.heroSection {

  background: lightcoral;
  height: 50vh;

  

}

.pricesSection {

  background: lightgoldenrodyellow;
  height: 50vh;

}


.aboutSection {

  background: lightgrey;
  height: 50vh;

}

.contactSection {

  background: lightskyblue;
  height: 50vh;

}
